body {
    border: solid 10px black;
}

header {
    border: solid 10px red;
    display: flex;
    justify-content: space-around;
}

.header-left {
    border: solid 5px black;
    align-items: center;
}

.logo {
    border: solid 5px green;
}

.header-right {
    border: solid 5px green;
    display: flex;
}

.links {
    border: solid 5px black;
    display: flex;
    padding: 0;
    align-items: center;
    gap: 10px;
}

li {
    border: solid 5px green;
    list-style-type: none;
}

.first-section {
    border: solid 10px blue;
}

.first-section-left {
    border: solid 10px black;
}

.first-section-left h1 {
    border: solid red 5px;
}

.first-section-left p {
    border: solid green 5px;
}

.first-section-left button {
    border: solid 5px red;
}

.first-section-right {
    border: solid 10px red;
}

.first-section-right img {
    border: solid 5px black;
}

img {
    max-width: 300px;
}