body {
    border: solid 10px black;
}

header {
    border: solid 10px red;
    display: flex;
    justify-content: space-around;
}

.header-left {
    border: solid 5px black;
    align-items: center;
}

.logo {
    border: solid 5px green;
}

.header-right {
    border: solid 5px green;
    display: flex;
}

.links {
    border: solid 5px black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

li {
    border: solid 5px green;
    list-style-type: none;
}