body {
    border: solid 10px black;
}

header {
    border: solid 10px red;
    display: flex;
    justify-content: space-around;
}

.header-left {
    border: solid 5px black;
    align-items: center;
}

.logo {
    border: solid 5px green;
}

.header-right {
    border: solid 5px green;
    display: flex;
}

.links {
    border: solid 5px black;
    display: flex;
    padding: 0;
    align-items: center;
    gap: 10px;
}

li {
    border: solid 5px green;
    list-style-type: none;
}

.first-section {
    border: solid 10px blue;
    display: flex;
    justify-content: center;    
    padding-top: 32px;
    padding-bottom: 32px;
}

.first-section-left {
    border: solid 10px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50%;
    gap: 10px;
}

.first-section-left h1 {
    border: solid red 5px;
    margin: 0;
}

.first-section-left p {
    border: solid green 5px;
    margin: 0;
}

.first-section-left button {
    border: solid 5px red;
}

.first-section-right {
    border: solid 10px red;
    display: flex;
}

.first-section-right img {
    border: solid 5px black;
    max-width: 300px;
}

.images-section {
    border: 10px solid red;
    display: flex;
    flex-direction: column;
}

.images-title {
    border: 10px solid black;
    text-align: center;
}

.images-and-captions {
    border: 10px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
}

.image-item {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 210px;
}

.image-item p {
    border: 5px solid green;
}

.image-item img {
    max-width: 150px;
    border: 5px solid red;  
}

.quote-section {
    border: 10px solid blue;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.quote-body {
    border: 5px solid green;
    display: flex;
    justify-content: flex-start;
}

.quote-author {
    border: 5px solid red;
    display: flex;
    justify-content: flex-end;
}